<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.wozniak.training.kotlinspring.mapper.UserMapper">

    <resultMap id="User" type="jp.wozniak.training.kotlinspring.domain.User">
        <id property="userId" column="USER_ID"/>
        <result property="email" column="EMAIL"/>
        <result property="password" column="PASSWORD"/>
        <result property="firstName" column="FIRST_NAME"/>
        <result property="lastName" column="LAST_NAME"/>
        <result property="administratorFlag" column="ADMINISTRATOR_FLAG"/>
        <result property="status" column="STATUS"/>
        <result property="expiredAt" column="EXPIRED_AT"/>
        <result property="updateUserId" column="UPDATE_USER_ID"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="lockVersion" column="LOCK_VERSION"/>
        <result property="deleteFlag" column="DELETE_FLAG"/>
    </resultMap>

    <select id="findAll" resultMap="User">
        SELECT
            id, email, first_name, last_name,
            admin_flag, state,
            updated_user, updated_at, lock_version
        FROM users
    </select>

    <select id="get" resultMap="User" parameterType="Long">
        SELECT
            id, email, first_name, last_name,
            admin_flag, state,
            updated_user, updated_at, lock_version
        FROM users
        WHERE id = #{userid}
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users(
            email,password,expires_at,first_name,last_name,admin_flag
        )VALUES(
            #{email},#{hashedPassword},#{expiresAt},#{firstName},#{lastName},#{adminFlag}
        )
    </insert>

    <update id="put">
        UPDATE users
        SET
            email = #{email},
            password = #{hashedPassword},
            first_name = #{firstName},
            last_name = #{lastName},
            admin_flag = #{adminFlag},
            state = #{state},
            updated_at = #{updatedAt},
            lock_version = #{lockVersion}
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE users
        SET
            deleted_at = NOW()
        WHERE id = #{id}
    </update>


    <!-- sysdateをbindする共通Util -->
<!--    <sql id="timestampVariable">-->
<!--        <bind name="sysdate" value="@java.time.LocalDateTime@now()" />-->
<!--    </sql>-->
</mapper>

