<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.wozniak.training.kotlinspring.mapper.UserMapper">

    <resultMap id="User" type="jp.wozniak.training.kotlinspring.domain.User">
        <id property="id" column="id"/>
        <result property="email" column="email"/>
<!--        <result property="hashedPassword" column="password"/>-->
        <result property="expiresAt" column="expires_at"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="adminFlag" column="admin_flag"/>
        <result property="state" column="state"/>
        <result property="lockVersion" column="lock_version"/>
    </resultMap>

    <select id="findAll" resultMap="User">
        SELECT
            id, email, first_name, last_name,
            admin_flag, state,
            updated_at, lock_version
        FROM users
        WHERE deleted_at IS NULL
    </select>

    <select id="get" resultMap="User" parameterType="Long">
        SELECT
            id, email, first_name, last_name,
            admin_flag, state,
            updated_at, lock_version
        FROM users
        WHERE id = #{id}
          AND deleted_at IS NULL
    </select>

    <insert id="post" useGeneratedKeys="true" keyProperty="generatedId">
        INSERT INTO users(
            email,password,expires_at,first_name,last_name,admin_flag
        )VALUES(
            #{email},#{hashedPassword},#{expiresAt},#{firstName},#{lastName},#{adminFlag}
        )
    </insert>

    <update id="patch">
        UPDATE users
        <set>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="hashedPassword != null">
                password = #{hashedPassword},
            </if>
            <if test="firstName != null">
                first_name = #{firstName},
            </if>
            <if test="lastName != null">
                last_name = #{lastName},
            </if>
            <if test="adminFlag != null">
                admin_flag = #{adminFlag},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            lock_version = #{lockVersion}
        </set>
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE users
        SET
            deleted_at = NOW()
        WHERE id = #{id}
    </update>


    <!-- sysdateをbindする共通Util -->
<!--    <sql id="timestampVariable">-->
<!--        <bind name="sysdate" value="@java.time.LocalDateTime@now()" />-->
<!--    </sql>-->
</mapper>

